*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 100px;
}

body.dark {
  color: white;
  background: #1f1f1f;
}

main{
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  margin-bottom: 0.8rem;
}

input{
  padding: 10px;
  border-radius: 15px;
}

input.dark {
  background: #2c2b2b;
}

button {
  flex: 1;
  margin: 0.3rem;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 8px;
  background: #f0cb09;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, opacity 0.2s;
}

button:hover {
  background:#0d11cc;
  color: white;
}

small {
  font-size: 0.8rem;
  color: red;
  height: 1em;
}

.success{
  border: solid 3px green;
}

.error{
  border: solid 2px red;
}

.notAvailable{
  cursor: default;
  background: #fff7d1;
  opacity: 30%;
}

.view{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 320px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.inputContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 1.8rem;
}


.inputContainer.password-field { /* Todos los inputContainer son flex, hay que crearle al de la contraseña un padding derecho que permita alojar el icon*/
  position: relative; 
}

.inputContainer.password-field input { 
  padding-right: 2rem; 
}

/* Botón del ojo dentro del campo */
.inputContainer.password-field .toggle-pass{
  position: absolute;
  right: 0.6rem;
  top: 30%;
  transform: translateY(-50%);
  width: 2rem;
  height: auto;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: grey;
  cursor: pointer;
}

.inputInline {
  flex: 1;
  align-self: flex-start;
  margin: 0.6rem 0rem;
}

/* Botones */
.btnGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linklike {
  background: none;
  color: #525151;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-start;
  padding: 0.7rem 0rem;
}

.linklike:hover {
  color: #000;
  background: transparent;
}

.linklike:visited {
  color: #32047c;
}

.view { 
  display: none; 
}

.active { 
  display: block; 
}

.cookie-banner { 
  display: none; 
}
.cookie-banner.active{
  display: block;
  border: 1px solid rgb(218, 215, 215);
  background: #f0efef;
  border-radius: 12px;
  padding: 1rem 2rem;
  margin: auto;
  margin-top: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
}

#logSubmitBtn, 
#regSubmitBtn {
  background: #f0cb09;
}

#logSubmitBtn:hover, 
#regSubmitBtn:hover  {
  background:#0d11cc;
}

#logSubmitBtn.notAvailable, #regSubmitBtn.notAvailable{
  pointer-events: none; /* Bloquea las interacciones con el botón, no se aplica #submitBtn:hover*/
}